<div id="opc-sidebar" class="custom">
    <h3 class="title">Calculator</h3>

    <div class="calc">
        <input type="text" id="display" placeholder='0'><br/>
        <input type="button" class="clear" value='C'>
        <input type="button" class="clc" value='7'>
        <input type="button" class="clc" value='8'>
        <input type="button" class="clc" value='9'>
        <input type="button" class="clc" value='/'>
        <br>
        <input type="button" class="clc" value='4'>
        <input type="button" class="clc" value='5'>
        <input type="button" class="clc" value='6'>
        <input type="button" class="clc" value='*'>
        <br>
        <input type="button" class="clc" value='1'>
        <input type="button" class="clc" value='2'>
        <input type="button" class="clc" value='3'>
        <input type="button" class="clc" value='-'>
        <br>
        <input type="button" class="clc" value='.'>
        <input type="button" class="clc" value='0'>
        <input type="button" class="finalresult" value='='>
        <input type="button" class="clc" value='+'>
    </div>
</div>
